
/* General styling */
.appContainer{
    text-align: center;
}
.mainApp{
  border-radius: 1%;
}
.blackBackgr{
    color: #FFFAE8;
}
.whiteBackgr{
    color: black;
}
.cardAreaEdge{
    box-shadow: -1px 2px 5px  grey;
    border-radius: 10%;
}
.columnTitleText{
    font-size: 1.2rem;
    font-weight: bold;
    margin: 1rem 0rem;
}
.tileNameText{
    font-size: 1.4rem;
}
.clickable{
    cursor: pointer;
}
.clickable:hover, .clickable:focus{
    font-weight: 500;
    font-style: italic;
}
.clickable:active{
    color: blue;
}

.msgText{
    color: rgb(5, 150, 5);
    font-weight: bold;
}
.errorText{
    color: rgb(200, 5, 5);
    font-weight: bold;
}
.formAndCardLabels{
    font-weight: 600;
    font-style: italic;
}
.formTextareaCounter{
    font-style: italic;
    font-size: 0.9rem;
}

.aboutContent{
    text-align: justify;
}


/* Site containers */
.appContainer{
  background: radial-gradient(circle at 10% 30%, #272755, #3C3CB2);
}
.mainApp{
  background-color: #FFFAE8;
  box-shadow: -1px 2px 15px #505050;
}


/* Button styling */
.btnObjBig{
    color: #FFFAE8;
    font-size: 1.1rem;
    border-radius: 10%;
}
.btnObjSmall{
    color: #FFFAE8;
    font-size: 1.0rem;
    border-radius: 10%;
}
.iconItself{
    font-size: 1.4rem;
}

.btnLogin{
    background-color: #517EBA;
}
.btnLogout{
    background-color: #517EBA;
}
.btnDelete{
    background-color: #AE0F2A;
}
.btnCreate{
    background-color: #148014;
}
.btnChange{
    background-color: #6F3BA4;
}
.btnBack{
    background-color: #555555;
}


/* Header styling */
.logo{
    font-size: 1.6rem;
    font-weight: 600;
    font-style: oblique;
}
.regSymbol{
    font-size: 1.2rem;
}


