
/* General styling */
.appContainer{
    text-align: center;

}
.mainApp{
  border-radius: 1%;
}
.blackBackgr{
    color: #FFFAE8;
}
.whiteBackgr{
    color: black;
}
.cardArea{
    box-shadow: -1px 2px 5px  grey;
    border-radius: 10%;
    padding: 0.2rem;
    margin: 0.4rem;
}
.columnTitleText{
    font-size: 1.2rem;
    font-weight: bold;
}
.tileNameText{
    font-size: 1.4rem;
}
.clickable{
    cursor: pointer;
}
.clickable:hover, .clickable:focus{
    font-weight: 700;
    font-style: italic;
}
.clickable:active{
    color: blue;
}
.errorLine{

}
.errorText{

}




/* Site containers */
.appContainer{
  background: radial-gradient(circle at 10% 30%, #272755, #3C3CB2);

}
.mainApp{
  background-color: #FFFAE8;
  box-shadow: -1px 2px 15px #505050;

}


/* Button styling */

.btnObjBig{ /* outer wrapper */
    padding: 0.4rem;
    width: 100%;
    color: #FFFAE8;
    font-size: 1.1rem;
    border-radius: 10%;
}
.btnObjSmall{ /* outer wrapper */
    padding: 0.1rem;
    color: #FFFAE8;
    font-size: 1.0rem;
    border-radius: 10%;
}
.iconItself{
    font-size: 1.4rem;

}
.textNextToIcon{
    margin-left: 0.3rem;
    line-height: 1.1rem;
    letter-spacing: 0.04rem;
}
.btnLogin{
    background-color: #517EBA;
}
.btnLogout{
    background-color: #517EBA;
}
.btnDelete{
    background-color: #AE0F2A;
}
.btnCreate{
    background-color: #148014;
}
.btnChange{
    background-color: #6F3BA4;
}
.btnBack{
    background-color: #555555;
}


/* Header styling */
.logo{
    font-size: 1.6rem;
    font-weight: 600;
    font-style: oblique;
    margin-right: 0.5rem;

    padding: 1.0rem;
}
.regSymbol{
    font-size: 1.2rem;
}
.siteMessage{
    display: flex;
    align-items: center;
}


/* Profile stylings */
.userDetail{
    margin: 0.4rem;
}



/* Todo input style */


