/* Site containers that no changes */

* {
    box-sizing: border-box;
  }
  #root{
    margin: 0;
    padding: 0;
  }
  .appContainer {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    min-width: 95vw;
  }
  .mainApp{
    padding: 2% 3%;
  }
  .aboutContent{
    width: 80%;
    margin: 0 auto;
    padding: 0rem 1.4rem;
    z-index: 1;
  }
  .footerApp{
    min-height: 4rem;
  }
    .footerPopup{
      position: fixed;
      bottom: 0;
      left: 0;
      right: 0;
      z-index: 20;

      padding: 0.5rem;
    }
    .cookiePopupText{
      float: left;
    }
    .cookiePopupBtn{
      margin-left: 1rem;
      padding: 0.3rem;
      display: inline;
    }
@supports ( not (display:grid)) and ( not (display: flex)) {

  .appHeader1{
    overflow: auto;
  }
    .mainApp{  }
      .profileList{
        max-width: 450px;
      }
        .todoCardArea{
          column-width: 22rem;
        }
          .todoItem{
            max-width: 450px;
            margin: 0 auto;
          }

  @media screen and (min-width: 1024px){
      .mainApp{
        overflow: auto;
      }
          .profileList{
              float:left;
              width: 30vw;
          }
          .aboutContent, .todoInput, .todoList{
            float: right;
            width: 60vw;
          }
          .todoList{ }


  }
  @media screen and (max-width: 1024px){
      .appContainer{ }
      .appHeader1{
          vertical-align: middle;
      }
      .appHeader2{ }
      .mainApp{ }
          .profileList{
            margin: 0 auto;
          }
  }
}



